.DS_Store
*.asv
*.pyc
.Rhistory

# compilation byproducts
*.so
*.o
*.egg-info

# Python data
*.npy
*.pkl

# Generic Data files
*.out
*.log
*.tar
*.csv

# notebook byproducts
.ipynb_checkpoints

# pycache
__pycache__
